.screen__container {
  background-color: pink;
  overflow: hidden;
  width: 100%;
  height: 100%;

  display: grid;
  justify-content: center;
  padding: 0.8rem;
}

.game__container {
  background-color: orange;
  max-width: 701px;
  width: 701px;
  height: auto;

  border: 3px solid white;
  border-radius: 0.8rem;
  /* border-image: linear-gradient(137deg, rgba(2,0,36,1) 0%, rgba(250,250,251,1) 40%, rgba(2,0,36,1) 52%, rgba(250,250,251,1) 63%, rgba(2,0,36,1) 100%) 30;
  border-width: 4px;
  border-style: solid; */
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: .6em;
  gap: 0.4rem;
}

.game__info__container {
  background: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 0 1rem;
}

.timer__container {
  background: silver;
  font-size: 2rem;
  width: 150px;
  display: flex;
  justify-content: center;
  padding: 0.4rem;
  border: 3px solid white;
  border-radius: 12px;
}

.level__container {
  width: 150px;
}

.accuracy__container {
  display: flex;
  width: 150px;
  gap: 1rem;
  justify-content: end;
  align-items: center;
}

/* game letter screen and speed */
.middle__container {
  background-color: gold;
  min-height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.2rem;
}

.game__display {
  background: teal;
  display: grid;
  place-content: center;
  border: 3px solid white;
  border-radius: 12px;
}

.controls__container {
  background: fuchsia;
  border: 3px solid white;
  border-radius: 12px;

  display: grid;
  grid-template-rows: auto 1fr auto;

  padding: 0.2rem;
  gap: 0.2rem;
}

/* Letters displayed for each level */
.game__letters {
  background: sandybrown;
}

/* Game type selector */
.levelType__container {
  display: grid;
  text-align: center;
  background: plum;
  gap: 0.2rem;
}
/* Hide keyboard */
.hide__keyboard__container {
  display: grid;
  font-size: 0.9rem;
  background: yellowgreen;
  text-align: center;

  gap: 0.2rem;
}

/* SPEED */
.speed__container {
  background-color: orange;
  display: grid;
  place-content: center;
  gap: 0.4rem;
}

.speed__title {
  background-color: aqua;
}

.speed__info {
  background: rgb(163, 63, 63);
  display: grid;
  gap: 0.4rem;
  place-content: center;
}

.speed__setting {
  display: grid;
  place-content: center;
}

#speed__setting__int {
  font-size: 1.4rem;
}

.speed__btn {
  background: palevioletred;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0.8rem;
  font-size: 1.4rem;

  display: grid;
  place-content: center;
}

/* bottom section */
/* Game Buttons */
.buttons__container {
  background: thistle;
  padding: 0.4rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;

  border: 3px solid white;
  border-radius: 12px;
}

.start__btn__container {
  background: seagreen;
  display: grid;
  place-content: center;
}
.reset__btn__container {
  background: peru;
  display: grid;
  place-content: center;
}
.next__btn__container {
  background: rebeccapurple;
  display: grid;
  place-content: center;
}

#special__btn {
  padding: .8rem;
  width: 100px;
  border-radius: 50%;

  border: 3px solid black;
  font-size: 1.2rem;
}
